@page "/"
@inject NavigationManager NavigationManager
@inject IDatabase IDatabase

<h1>All Products</h1>

<button class="button" @onclick="@(() => NavigationManager.NavigateTo("/add"))">Add New Product</button>
<br />

@if (products != null)
{
    <div class="grid-container">
        @foreach (var product in products)
        {
            <div>
                <img src="@(product.Image)" width="280" height="310" />
                <p>Name: @product.Name</p>
                <p>Price: $@product.Price</p>
                <button @onclick="@(() => NavigationManager.NavigateTo("/view/" + product.Id))">View</button>
                <button @onclick="@(() => NavigationManager.NavigateTo("/edit/" + product.Id))">Edit</button>
                <button @onclick="() => DeleteProduct(product)">Delete</button>
                <br />
            </div>
        }
    </div>

}

@code {

    public List<Product> products;

    protected override void OnInitialized()
    {
        products = IDatabase.Get();
    }

    private void DeleteProduct(Product product)
    {
        products.Remove(product);
    }
}